/*
* **Heavily** inspired by tailwindcss-typography
* https://github.com/tailwindlabs/tailwindcss-typography
*
* Essentially a simplified clone of those styles, defined internally so they
* are easier to tweak.
*
* All styles are defined with in terms of `.prose-*` (global classname)
* and `.prose *` (.prose wrapper class), so any style can be
* used in a 'standalone' way by just using the global classname on an element.
*/

:root {
  --prose-list-indent: 0.8125em;

  /* Tailwind md */
  @media (width >= 48rem) {
    --prose-list-indent: 1.625em;
  }
}

@layer components {
  .prose {
    @apply text-current;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.75;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    @apply text-current/95;
    font-weight: 800;
    font-size: 2.25em;
  }

  h2 {
    @apply text-current/95;
    font-weight: 700;
    font-size: 1.5em;
  }

  h3 {
    @apply text-current/95;
    font-weight: 600;
    font-size: 1.25em;
  }

  h4 {
    @apply text-current/95;
    font-weight: 600;
  }

  @media (width >= 64rem) {
    .prose {
      font-size: 18px;
    }

    h1 {
      font-size: 2.67em;
      line-height: 1;
    }

    h2 {
      font-size: 1.67em;
      line-height: 1.33;
    }

    h3 {
      font-size: 1.33em;
      line-height: 1.5;
    }
  }

  .prose-h1,
  .prose h1 {
    @apply text-current/95;
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.9em;
    line-height: 1.1;
  }

  .prose-h2,
  .prose h2 {
    @apply text-current/95;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3;
  }

  .prose-h3,
  .prose h3 {
    @apply text-current/95;
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  .prose-h4,
  .prose h4 {
    @apply text-current/95;
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  .prose-lead,
  .prose .lead {
    font-size: 1.25em;
    line-height: 1.6;
  }

  .prose-p,
  .prose p {
    margin-block: 1.25em;

    &.lead {
      margin-block: 1.2em;
    }
  }

  .prose-img,
  .prose img {
    margin-block: 2em;
  }

  .prose-picture,
  .prose picture {
    margin-block: 2em;

    > img: {
      margin-block: 0;
    }
  }

  .prose-video,
  .prose video {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .prose-code,
  .prose code {
    @apply text-current;
    font-weight: 600;
    font-size: 0.875em;

    &::before,
    &::after {
      content: "`";
    }
  }

  .prose-pre,
  .prose pre {
    @apply surface-alt;

    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    border-radius: 0.3rem;
    line-height: 1.7;
    margin-block: 1.7em;
    padding-block: 0.85em;
    padding-inline: 1.15em;

    code {
      background-color: transparent;
      border: none;
      padding: 0;
      font-weight: inherit;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  .prose-li,
  .prose li {
    margin-block: 0.5em;
  }

  .prose-ol,
  .prose ol {
    list-style-type: decimal;
    margin-block: 1.25em;
    padding-inline-start: var(--prose-list-indent);

    > li {
      padding-inline-start: 0.375em;
    }

    > li::marker {
      @apply text-current/80;
      font-weight: 400;
    }
  }

  .prose-ul,
  .prose ul {
    list-style-type: square;
    margin-block: 1.25em;
    padding-inline-start: var(--prose-list-indent);

    > li {
      padding-inline-start: 0.375em;
    }

    > li::marker {
      @apply text-primary;
    }
  }

  .prose > ul > li p {
    margin-block: 0.75em;
  }

  .prose > ul > li > p:first-child {
    margin-top: 1.25em;
  }

  .prose > ul > li > p:last-child {
    margin-bottom: 1.25em;
  }

  .prose > ol > li > p:first-child {
    margin-top: 1.25em;
  }

  .prose > ol > li > p:last-child {
    margin-bottom: 1.25em;
  }

  .prose ul ul,
  .prose ul ol,
  .prose ol ul,
  .prose ol ol {
    margin-block: 0.75em;
  }

  .prose-dl,
  .prose dl {
    margin-block: 1.25em;
  }

  .prose-dt,
  .prose dt {
    @apply text-current/95;
    font-weight: 600;
    margin-top: 1.25em;
  }

  .prose-dd,
  .prose dd {
    margin-top: 0.5em;
    padding-inline-start: var(--prose-list-indent);
  }

  .prose-a,
  .prose a {
    color: var(--link-color, var(--primary));
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  .prose-hr,
  .prose hr {
    @apply border-primary border-[1px] border-solid;
    margin-block: 3em;
  }

  .prose-blockquote,
  .prose blockquote {
    @apply border-s-primary text-current;
    font-weight: 400;
    font-style: italic;
    border-inline-start-style: solid;
    border-inline-start-width: 0.25rem;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start: 1em;

    p:first-of-type::before {
      content: open-quote;
    }

    p:last-of-type::after {
      content: close-quote;
    }
  }

  .prose-table,
  .prose table {
    width: 100%;
    table-layout: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7;

    th,
    td {
      text-align: start;
    }

    thead {
      @apply border-b-primary;
      border-bottom-width: 1px;
      border-bottom-style: solid;

      th {
        @apply text-current/95;
        font-weight: 600;
        vertical-align: bottom;
        padding-inline-end: 0.6em;
        padding-bottom: 0.6em;
        padding-inline-start: 0.6em;

        :first-child {
          padding-inline-start: 0;
        }

        :last-child {
          padding-inline-end: 0;
        }
      }
    }

    tbody {
      tr {
        @apply border-b-current/40;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &:last-child {
          border-bottom: none;
        }
      }

      td {
        vertical-align: baseline;
      }
    }

    tfoot td {
      vertical-align: top;
    }

    tbody td,
    tfoot td {
      padding-block: 0.6em;
      padding-inline: 0.6em;

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
      }
    }
  }

  .prose-figure,
  .prose figure {
    margin-block: 2em;

    > * {
      margin-block: 0;
    }
  }

  .prose-figcaption,
  .prose figcaption {
    @apply text-current/70;
    font-size: 0.875em;
    line-height: 1.4;
    margin-top: 0.85em;
  }

  .prose-kbd,
  .prose kbd {
    @apply surface-primary-container shadow-sm;
    font-weight: 500;
    font-family: inherit;
    font-size: 0.875em;
    border-radius: 0.3rem;
    padding-top: 0.1875em;
    padding-inline-end: 0.375em;
    padding-bottom: 0.1875em;
    padding-inline-start: 0.375em;
  }

  .prose-h1 + *,
  .prose h1 + *,
  .prose-h2 + *,
  .prose h2 + *,
  .prose-h3 + *,
  .prose h3 + *,
  .prose-h4 + *,
  .prose h4 + *,
  .prose-hr + *,
  .prose hr + * {
    margin-top: 0;
  }

  .prose > *:first-child,
  .prose > *:first-child > *:first-child {
    /* Remove top whitespace of first item, unless it has a background or border */
    &:not([class^="template-"], [class*="surface"], [class*="border"]) {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
