/**
 * Utilities to apply standard edge-of-window content padding.
 * These utilities will only applied once in a node tree, i.e. if
 * an element uses px-edge and an ancestor element has already used
 * px-edge, no further padding will be applied..
 */
:root {
  --spacing-window-inset-start: 8px;
  --spacing-window-inset-end: 8px;
  --spacing-window-inset-top: 8px;
  --spacing-window-inset-bottom: 8px;

  @media (width >= 40rem) {
    --spacing-window-inset-start: 16px;
    --spacing-window-inset-end: 16px;
    --spacing-window-inset-top: 16px;
    --spacing-window-inset-bottom: 16px;
  }
}

@layer components {
  .p-edge,
  .px-edge,
  .ps-edge {
    .p-edge,
    .px-edge,
    .ps-edge {
      --spacing-window-inset-start: 0;
    }
  }
  .p-edge,
  .px-edge,
  .pe-edge {
    .p-edge,
    .px-edge,
    .pe-edge {
      --spacing-window-inset-end: 0;
    }
  }

  .p-edge,
  .py-edge,
  .pt-edge {
    .p-edge,
    .py-edge,
    .pt-edge {
      --spacing-window-inset-top: 0;
    }
  }
  .p-edge,
  .py-edge,
  .pb-edge {
    .p-edge,
    .py-edge,
    .pb-edge {
      --spacing-window-inset-bottom: 0;
    }
  }
}

@utility px-edge {
  @apply ps-edge pe-edge;
}
@utility py-edge {
  @apply pt-edge pb-edge;
}
@utility ps-edge {
  padding-inline-start: var(--spacing-window-inset-start);
}
@utility pe-edge {
  padding-inline-end: var(--spacing-window-inset-end);
}
@utility p-edge {
  @apply px-edge py-edge;
}
@utility pt-edge {
  padding-top: var(--spacing-window-inset-top);
}
@utility pb-edge {
  padding-bottom: var(--spacing-window-inset-bottom);
}

@utility mx-edge {
  @apply ms-edge me-edge;
}
@utility my-edge {
  @apply mt-edge mb-edge;
}
@utility ms-edge {
  margin-inline-start: var(--spacing-window-inset-start);
}
@utility me-edge {
  margin-inline-end: var(--spacing-window-inset-end);
}
@utility m-edge {
  @apply mx-edge my-edge;
}
@utility mt-edge {
  margin-top: var(--spacing-window-inset-top);
}
@utility mb-edge {
  margin-bottom: var(--spacing-window-inset-bottom);
}
