@tailwind base;

@layer base {
  :root {
    --primary: 100 116 139;
    --on_primary: 255 255 255;
    --accent: 253 230 138;
    --on_accent: 0 0 0;
  }

  img {
    @apply object-cover;
  }

  address {
    @apply not-italic;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }

  section:not(:last-child) {
    @apply mb-16;
  }

  input,
  select {
    @apply bg-surface-200 px-2 py-1 text-surface-950 dark:bg-surface-700 dark:text-surface-50;
  }

  table {
    @apply w-fit border-collapse;

    th {
      @apply px-4 py-2 text-center;
      &:not(:empty) {
        @apply border-b-[2px];
        border-color: var(--primary);
      }

      &:only-child {
        @apply text-center;
      }
    }
    td {
      @apply min-w-24 px-4 py-1.5 text-center;

      &:first-child {
        @apply text-end;
      }

      &:only-child {
        @apply text-center;
      }
    }

    &:not(:has(td:nth-child(3))) {
      th:not(:only-child):last-child,
      td:not(:only-child):last-child {
        @apply text-start;
      }
    }
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .readable {
    max-width: 800px;
  }
}
