$primary: var(--text-primary);
$secondary: var(--text-secondary);
$tertiary: var(--text-tertiary);
$accent: var(--accent);
$accent-secondary: var(--accent-secondary);
$surface: var(--card);
$table: var(--table-background);
$font: 'Open Sans', sans-serif;
$table-border: var(--table-border) 1px solid;
$border: 6px;
$padding: $border 12px;

body {
  background: var(--tabletop);
  color: $primary;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  font-size: 1rem;
  font-family: monospace;
}

header, h1 {
  margin-bottom: 1.2rem;
}

section {
  margin: 1rem 1rem 3rem 1rem;
  padding: 0 1rem 1rem 1rem;
  border: $table-border;
  border-radius: 0.5rem;
}


table {
  background: var(--card-background);
  color: var(--text-primary);
  border: $table-border;
  border-collapse: collapse;

  th {
    border-bottom: $table-border;
  }

  th, td {
    padding: $padding;
    border-left: $table-border;
    border-right: $table-border;
  }

  tr:hover {
    background: var(--text-tertiary-invert);
  }
}

td.numeric {
  text-align: center;
}

a {
  color: $accent;
  text-decoration: none;
}

a:visited {
  color: $accent-secondary;
}

.button {
  background: $accent-secondary;
  color: var(--text-light-primary) !important;
  padding: $padding;
  margin-right: 16px;
  border-radius: $border;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
}

.busy {
  background: var(--text-tertiary);
  cursor: no-drop;
}

.action {
  @extend .button;
  background: var(--warn);
}

.list-item {
  margin-bottom: 12px;
  margin-left: 4px;
  margin-right: 4px;
}

.list-scroll {
  @extend .list;
  overflow-y: scroll;
  max-height: 15rem;
}

.list {
  background: $table;
}

.item-content {
  font-size: small;
}
