/**
 * Page layout grids used with <PageLayout />
 */

:root {
  --page-layout--main-content--minwidth: 0;
  --page-layout--main-content--maxwidth: 100%;
  --page-layout--secondary-content--minwidth: 0;
  --page-layout--secondary-content--maxwidth: 100%;
}

@utility page-layout {
  display: grid;
  width: 100%;

  grid-template-areas:
    ". main ."
    ". secondary .";
  grid-template-columns:
    1fr minmax(
      var(--page-layout--main-content--minwidth),
      var(--page-layout--main-content--maxwidth)
    )
    1fr;

  .page-layout--main {
    container: main / inline-size;
    grid-area: main;
  }

  .page-layout--secondary {
    grid-area: secondary;
    container-type: inline-size;
  }

  .page-layout--sidebar-left {
    container-type: inline-size;
    display: none;
    grid-area: sidebar-left;
  }
  .page-layout--sidebar-right {
    container-type: inline-size;
    display: none;
    grid-area: sidebar-right;
  }
}

@utility page-layout-main_right {
  grid-template-areas:
    ". main sidebar-right ."
    ". secondary sidebar-right .";
  grid-template-columns:
    1fr minmax(
      var(--page-layout--main-content--minwidth),
      var(--page-layout--main-content--maxwidth)
    )
    auto 1fr;

  .page-layout--sidebar-right {
    display: initial;
  }
}

@utility page-layout-left_main_right {
  grid-template-areas:
    ". sidebar-left main sidebar-right ."
    ". sidebar-left secondary sidebar-right .";
  grid-template-columns:
    1fr
    auto
    minmax(
      var(--page-layout--main-content--minwidth),
      var(--page-layout--main-content--maxwidth)
    )
    auto
    1fr;
  .page-layout--sidebar-left {
    display: initial;
  }
}

@layer components {
  .page-layout--wrapper {
    container: page-layout / inline-size;
  }

  .grid-centered-feed {
    @apply page-layout;

    @container page-layout (width >= 1000px) {
      @apply page-layout-main_right;
    }
    @container page-layout (width >= 1400px) {
      @apply page-layout-left_main_right;
    }
  }

  .grid-centered-readable {
    @apply page-layout;

    @container page-layout (width >= 1000px) {
      @apply page-layout-main_right;
    }
    @container page-layout (width >= 1300px) {
      @apply page-layout-left_main_right;
    }
  }

  .grid-primary-secondary {
    @apply page-layout;

    @container page-layout (width >= 1200px) {
      grid-template-areas: ". main secondary .";
      grid-template-columns:
        1fr
        minmax(
          var(--page-layout--main-content--minwidth),
          var(--page-layout--main-content--maxwidth)
        )
        minmax(
          var(--page-layout--secondary-content--minwidth),
          var(--page-layout--secondary-content--maxwidth)
        )
        1fr;
    }

    @container page-layout (width >= 2000px) {
      grid-template-areas: ". sidebar-left main secondary sidebar-right .";
      grid-template-columns:
        1fr auto
        minmax(
          var(--page-layout--main-content--minwidth),
          var(--page-layout--main-content--maxwidth)
        )
        minmax(
          var(--page-layout--secondary-content--minwidth),
          var(--page-layout--secondary-content--maxwidth)
        )
        auto 1fr;

      .page-layout--sidebar-left,
      .page-layout--sidebar-right {
        display: initial;
      }
    }
  }
}
