location = /health-check/ {
    add_header Content-Type text/plain;
    return 200 "I am alive";
}

location ~* \.(bash_history|exe|dat|db|env|gz|html|log|php|rar|sh|sql|sqlite|sqlite3|tar|zip)$ {
    return 444;
}
