@layer components {
  .loading {
    --_size: 64px;

    position: relative;
    display: flex;
    width: var(--_size);
    height: var(--_size);
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    font-size: var(--_size);

    > * {
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }

    > *:first-child {
      position: absolute;
      fill: currentColor;
      justify-self: center;
    }

    > *:not(:first-child) {
      fill: var(--primary);
      z-index: 10;
      display: inline-block;
      flex-shrink: 0;
    }

    & > :nth-child(2) {
      animation-name: loading-first;
      animation-timing-function: ease-in-out;
    }

    & > :last-child {
      animation-name: loading-last;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes loading-first {
    0%,
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      scale: 1;
      translate: 50%;
    }
  }
  @keyframes loading-last {
    0% {
      translate: -50%;
    }
    70%,
    100% {
      opacity: 0;
    }
  }
}

@layer components {
  .loadingbar {
    min-height: 2px;
  }
  .loadingbar-anim {
    background-size: 200% 200%;
    animation-duration: 2200ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    min-height: 2px;
  }

  .loadingbar--indeterminate {
    background-image: linear-gradient(
      110deg,
      var(--surface),
      var(--primary),
      var(--primary),
      var(--accent)
    );
    animation-name: loadingbar--indeterminate;
    animation-duration: 2200ms;
  }

  @keyframes loadingbar--indeterminate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 33%;
    }
    100% {
      background-position: 0 0;
    }
  }

  .loadingbar--progress {
    background-color: var(--surface);

    .loadingbar-anim {
      background-image: linear-gradient(
        90deg,
        var(--surface) 5%,
        var(--primary),
        var(--primary)
      );
      animation-name: loadingbar--progress;
      animation-duration: 2200ms;
      min-width: 2%;
      transition: width 600ms;

      &[data-finished="true"] {
        animation-iteration-count: 1;
      }
    }
  }
  @keyframes loadingbar--progress {
    0% {
      background-position: 200% 33%;
    }
    100% {
      background-position: 0 0;
    }
  }
}
