@utility surface {
  --bg: var(--color-surface);
  --fg: var(--color-on-surface);

  background-color: var(--bg);
  color: var(--fg);
  fill: var(--fg);
}

@utility surface-commons {
  @apply bg-house-commons text-house-on-commons fill-house-on-commons;
}
@utility surface-lords {
  @apply bg-house-lords text-house-on-lords fill-house-on-lords;
}

/* Apply an arbitrary surface color theme. `--color-*` and `--color-on-*` variables must be defined */
/*prettier-ignore*/
@utility surface-* {
  --bg: --value(--color-*);
  --fg: --value(--color-on-*);

  /* Define full-opacity background color when no modifier is passed. */
  /*noinspection CssOverwrittenProperties*/
  background-color: var(--bg);

  /* If opacity modifier is available, override base value. */
  /*noinspection CssInvalidFunction,CssOverwrittenProperties*/
  background-color: --alpha(var(--bg) / --modifier(integer)%);
  color: var(--fg);
  fill: var(--fg);
}
