{% extends '_dashboard-all-abstract.html' %}

{% block title %}MPs{% endblock %}

{% block items_title %}MPs{% endblock %}

{% block table_headers %}
    <th>Full name</th>
    <th>Given name</th>
    <th>Additional name(s)</th>
    <th>Family name</th>
    <th>Gender</th>
    <th>Party</th>
    <th>Constituency</th>
    <th>parliamentdotuk</th>
    <th>theyworkforyou</th>
{% endblock %}

{% block data_row %}
    {% with mp=item %}
    <td>{{ mp.person.name }}</td>
    <td>{{ mp.person.given_name|default_if_none:'-' }}</td>
    <td>{{ mp.person.additional_name|default_if_none:'-' }}</td>
    <td>{{ mp.person.family_name|default_if_none:'-' }}</td>
    <td>{{ mp.person.gender|default_if_none:'-' }}</td>
    <td>{{ mp.party.name|default_if_none:'-' }}</td>
    <td>{{ mp.constituency.name|default_if_none:'-' }}</td>
    <td class="numeric">{{ mp.parliamentdotuk|default_if_none:'-' }}</td>
    <td class="numeric">{{ mp.theyworkforyou|default_if_none:'-' }}</td>
    {% endwith %}
{% endblock %}
