{% extends '_dashboard-all-abstract.html' %}

{% block title %}Parties{% endblock %}

{% block items_title %}parties{% endblock %}

{% block table_headers %}
    <th>Name</th>
    <th>Active MPs</th>
    <th>Short name</th>
    <th>Long name</th>
    <th>Founded</th>
    <th>Homepage</th>
{% endblock %}

{% block data_row %}
    {% with party=item %}
    <td>{{ party.name }}</td>
    <td class="numeric">{{ party.mps.all|length }}</td>
    <td>{{ party.short_name|default_if_none:'-' }}</td>
    <td>{{ party.long_name|default_if_none:'-' }}</td>
    <td class="numeric">{{ party.year_founded }}</td>
    <td>{{ party.homepage|default_if_none:'-' }}</td>
    {% endwith %}
{% endblock %}
