{% extends '_dashboard-all-abstract.html' %}

{% block title %}Lords{% endblock %}

{% block items_title %}Lords{% endblock %}

{% block table_headers %}
    <th>Full name</th>
    <th>Given name</th>
    <th>Additional name(s)</th>
    <th>Family name</th>
    <th>Gender</th>
    <th>Party</th>
    <th>Constituency</th>
    <th>parliamentdotuk</th>
    <th>theyworkforyou</th>
{% endblock %}

{% block data_row %}
    {% with lord=item %}
    <td>{{ lord.name }}</td>
    <td>{{ lord.given_name|default_if_none:'-' }}</td>
    <td>{{ lord.additional_name|default_if_none:'-' }}</td>
    <td>{{ lord.family_name|default_if_none:'-' }}</td>
    <td>{{ lord.gender|default_if_none:'-' }}</td>
    <td>{{ lord.party.name|default_if_none:'-' }}</td>
    <td>{{ lord.constituency.name|default_if_none:'-' }}</td>
    <td class="numeric">{{ lord.parliamentdotuk|default_if_none:'-' }}</td>
    <td class="numeric">{{ lord.theyworkforyou|default_if_none:'-' }}</td>
    {% endwith %}
{% endblock %}
