<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3694c8">

    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div>
<header class="row centered">{% include 'header.html' %}</header>

<div id="dashboard"><!-- React container - see https://github.com/beatonma/snommoc-dashboard/ -->></div>

<footer class="row centered">
    <div class="tag-group">
        <a class="tag" href="https://github.com/beatonma/snommoc">snommoc.org github</a>
        <a class="tag" href="https://github.com/beatonma/snommoc-dashboard">dashboard github</a>
    </div>
</footer>
{% include 'scripts.html' %}
</body>
</html>
