<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% include 'style-fragment.html' %}
</head>
<body>
<header>{% include 'dashboard-header-fragment.html' %}</header>

<section>
    <h1>API</h1>
    <div><a href="{% url 'member-list' %}">{% url 'member-list' %}</a></div>
    <div><a href="{% url 'member-detail' pk=1423 %}">{% url 'member-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'party-list' %}">{% url 'party-list' %}</a></div>
    <div><a href="{% url 'party-detail' pk=1423 %}">{% url 'party-detail' pk=4 %}</a></div>
    <div><a href="{% url 'constituency-list' %}">{% url 'constituency-list' %}</a></div>
    <div><a href="{% url 'constituency-detail' pk=143545 %}">{% url 'constituency-detail' pk=143545 %}</a></div>
    <div><a href="{% url 'division/commons-list' %}">{% url 'division/commons-list' %}</a></div>
    <div><a href="{% url 'division/commons-detail' pk=1180289 %}">{% url 'division/commons-detail' pk=1180289 %}</a></div>
    <div><a href="{% url 'member/address-detail' pk=1423 %}">{% url 'member/address-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/committees-detail' pk=1423 %}">{% url 'member/committees-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/constituencies-detail' pk=1423 %}">{% url 'member/constituencies-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/contested-detail' pk=1423 %}">{% url 'member/contested-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/interests-detail' pk=1423 %}">{% url 'member/interests-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/experiences-detail' pk=1423 %}">{% url 'member/experiences-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/speeches-detail' pk=1423 %}">{% url 'member/speeches-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/posts-detail' pk=1423 %}">{% url 'member/posts-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/parties-detail' pk=1423 %}">{% url 'member/parties-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/profile-detail' pk=1423 %}">{% url 'member/profile-detail' pk=1423 %}</a></div>
    <div><a href="{% url 'member/subjects-detail' pk=1423 %}">{% url 'member/subjects-detail' pk=1423 %}</a></div>
</section>
<section>
    <h1>Featured people</h1>
    <div id="featured_people">
        <h2>People [<a href="{% url 'admin:surface_featuredperson_changelist' %}">edit</a>]</h2>
        <div>
        {% for featured in featured_people %}
            <div class="featured-member"><a href="{% url 'member/profile-detail' pk=featured.person.parliamentdotuk %}"><span>{{ featured.person.name }}</span></a> <span>[{{ featured.person.parliamentdotuk }}] {{ featured.start }} -> {{ featured.end }}</span></div>
        {% endfor %}
        </div>
        <h4>Add new:</h4>
        <form action="{% url 'action-add-featured-person' %}" method="get">
            <label for="new_person_id">parliamentdotuk:</label>
            <input id="new_person_id" name="id" type="number"/>
            <input type="submit"/>
        </form>
    </div>
</section>

<section>
    <div id="featured_people">
        <h2>Featured bills [<a href="{% url 'admin:surface_featuredbill_changelist' %}">edit</a>]</h2>
        <div>
        {% for featured in featured_bills %}
            <div class="featured-bill"><span>{{ featured.bill.title }}</span></div>
        {% endfor %}
        </div>
        <h4>Add new:</h4>
        <form action="{% url 'action-add-featured-bill' %}" method="get">
            <label for="new_bill_id">parliamentdotuk:</label>
            <input id="new_bill_id" name="id" type="number"/>
            <input type="submit"/>
        </form>
    </div>
</section>

</body>
</html>
