@import "tailwindcss";
@import "./theme.css";
@import "./features/typography.css";
@import "./features/window-insets.css";

@custom-variant touch (@media(pointer: coarse));
@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where([data-theme="system"], [data-theme="system"] *) {
      @slot;
    }
  }
}
:root {
  --_spacing-listitem-card: 400px;
  --_spacing-listitem-card-wide: 650px; /* js */
  --tooltip-max-width: 180px; /* js */
}
@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /**
   * Additional container sizes which match breakpoint definitions.
   * For components which are ostensibly but not necessarily full-screen.
   */
  --container-bp_sm: 40rem;
  --container-bp_md: 48rem;
  --container-bp_lg: 64rem;
  --container-bp_xl: 80rem;
  --container-bp_2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --list-style-type-square: square;

  --transition-duration: 220ms;

  --spacing-ch: 1ch;
  --spacing-em: 1em;
  --spacing-readable: 800px; /* js */
  --spacing-max-grid-width: 1350px; /* js */

  --spacing-listitem-card: min(100%, var(--_spacing-listitem-card));
}

::selection {
  background-color: color-mix(in srgb, var(--surface), var(--primary));
  color: var(--on-primary);
}

@layer base {
  ::before {
    --tw-content: "\200B"; /*Zero-width space, used to maintain intuitive behaviour of `align-items: baseline` */
  }

  img {
    @apply object-cover;
  }

  address {
    @apply not-italic;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  section {
    @apply space-y-2;

    &:not(:last-child) {
      @apply mb-12;
    }

    section:not(:last-child) {
      @apply mb-8;
    }
  }

  ul {
    @apply list-inside list-disc;

    li::marker {
      color: var(--color-list-marker);
    }
  }

  input,
  select {
    --surface: var(--surface-alt);
    @apply bg-surface text-on-surface rounded-sm px-2 py-1;
  }
  input::-webkit-search-cancel-button {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" ><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 1em;
    background: currentColor;
    cursor: pointer;

    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    margin-left: 0.4em;
  }

  table {
    @apply card surface w-fit sm:rounded-lg;

    thead th:not(:empty) {
      @apply border-primary/25 border-b-[0.1px] py-2;
    }
    tfoot {
      @apply border-primary/25 border-t-[0.1px] py-2;
    }

    tbody th {
      @apply border-primary/25 border-r-[0.1px] text-right;
    }

    tbody tr {
      @apply transition-colors;
      &:hover {
        @apply bg-hover;
      }
    }

    th,
    td {
      @apply px-4 py-1.5 text-left;
    }
  }
}

@layer components {
  .overflow-auto,
  .overflow-x-auto,
  .overflow-y-auto {
    @media (pointer: coarse) {
      scrollbar-width: none;
    }
    @media (pointer: fine) {
      scrollbar-width: thin;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

@layer components {
  .readable {
    @apply max-w-readable w-full;
  }

  .text-reduced {
    /**
   * Reduce emphasis by fading the currentColor.
   */
    color: color-mix(in srgb, currentColor 85%, transparent);
  }

  .hover-overlay {
    @apply relative;

    &::after {
      @apply absolute inset-0 bg-transparent transition-colors content-[''];
    }

    &:hover::after {
      @apply bg-current/10;
    }
  }
}

@utility surface {
  @apply bg-surface text-on-surface fill-on-surface;
}
/* Apply a surface color theme. */
/*prettier-ignore*/
@utility surface-* {
  --bg: --value(--color-*);
  --fg: --value(--color-on-*);

  /* Define full-opacity background color when no modifier is passed. */
  /*noinspection CssOverwrittenProperties*/
  background-color: var(--bg);

  /* If opacity modifier is available, override base value. */
  /*noinspection CssInvalidFunction,CssOverwrittenProperties*/
  background-color: --alpha(var(--bg) / --modifier(integer)%);
  color: var(--fg);
  fill: var(--fg);
}
@utility surface-hover {
  @apply surface hover:bg-surface-hover transition-colors;
}
@utility surface-alt {
  @apply bg-surface-alt text-on-surface fill-on-surface;
}
@utility surface-invert {
  @apply bg-invert-surface text-invert-on-surface fill-invert-on-surface;
}
@utility surface-primary {
  @apply bg-primary text-on-primary fill-on-primary contrast-less:surface-primary-tint;
}

/* Apply the surface color with a hint of the current primary color. */
@utility surface-primary-tint {
  @apply surface;

  @variant dark {
    background-color: color-mix(in srgb, var(--primary) 3%, var(--surface));
  }
}
/* Apply surface-primary-tint, with a more saturated color on hover. */
@utility surface-primary-tint-hover {
  @apply surface-primary-tint transition-colors;
  &:hover {
    background-color: color-mix(in srgb, var(--primary) 7.5%, var(--surface));
  }
}
@utility surface-accent {
  @apply bg-accent text-on-accent fill-on-accent;
}
@utility hover {
  @apply hover:bg-hover transition-colors;
}
@utility surface-commons {
  @apply bg-house-commons text-house-on-commons fill-house-on-commons;
}
@utility surface-lords {
  @apply bg-house-lords text-house-on-lords fill-house-on-lords;
}
@utility card {
  @apply overflow-hidden shadow-md sm:rounded-lg;
}
@utility card-content {
  @apply px-4 py-2;
}
@utility chip {
  @apply touch-target overflow-hidden rounded-md shadow-sm;
}
@utility chip-content {
  @apply px-2 py-0.5 text-sm select-none;
}
@utility touch-target {
  @variant touch {
    @apply min-h-8 min-w-8;
  }
}

@utility row {
  @apply flex flex-row items-center *:shrink-0;
}
@utility column {
  @apply flex flex-col;
}

/** Default grid style for <SearchList /> */
@utility search-results-grid {
  @apply grid grid-cols-[repeat(auto-fit,var(--spacing-listitem-card))] gap-x-8 gap-y-4;
}

@utility -hover-background {
  background-color: color-mix(in srgb, var(--hover, var(--fg)) 10%, var(--bg));
}

/* By default this will have zero size and appear to do nothing! Remember
 * to set the size of your background with before:-inset-2 or whatever.*/
@utility extra-background {
  @apply relative;
  &::before {
    @apply pointer-events-none absolute -z-1 rounded-lg;
    content: var(--tw-content);
  }
}

/* Add a hover background which is a different size to the element.
 * By default this will have zero size and appear to do nothing! Remember
 * to set the size of your background with before:-inset-2 or whatever.*/
@utility hover-extra-background {
  @apply extra-background relative;
  &::before {
    @apply bg-transparent transition-colors;
  }
  &:not(:disabled):hover::before {
    @apply -hover-background;
  }
  &:not(:disabled):focus-visible::before {
    @apply -hover-background;
  }
}

/* Apply a surface theme and a slightly modified variant when hovered. */
/* prettier-ignore */
@utility hover-surface-* {
  @apply transition-colors;

  --bg: --value(--color-*);
  --fg: --value(--color-on-*);
  /*accent-color: --value(--color-vibrant-on-*);*/

  background-color: var(--bg);
  color: var(--fg);
  fill: var(--fg);

  &:hover:not(:disabled) {
    @apply -hover-background;
  }
  &:focus-visible:not(:disabled) {
    @apply -hover-background;
  }
}
