@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "./components.css";
@import "./features/typography.css";
@import "./features/window-insets.css";
@import "./utilities/index.css";

@custom-variant touch (@media(pointer: coarse));

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where([data-theme="system"], [data-theme="system"] *) {
      @slot;
    }
  }
}

:root {
  --tooltip-max-width: 180px;
}

@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /**
   * Additional container sizes which match breakpoint definitions.
   * For components which are ostensibly but not necessarily full-screen.
   */
  --container-bp_sm: 40rem;
  --container-bp_md: 48rem;
  --container-bp_lg: 64rem;
  --container-bp_xl: 80rem;
  --container-bp_2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --list-style-type-square: square;

  --transition-duration: 220ms;

  --spacing-ch: 1ch;
  --spacing-em: 1em;
  --spacing-readable: 800px;
  --spacing-max-grid-width: 1350px;
  --spacing-listitem-card-default: 400px;
  --spacing-listitem-card-wide: 650px;
  --spacing-listitem-card-image: --spacing(20);
  --spacing-listitem-card: min(100%, var(--spacing-listitem-card-default));
}

@layer components {
  .wide-cards {
    --spacing-listitem-card: min(100%, var(--spacing-listitem-card-wide));
  }
}
