:root {
  /** Theme colors */

  --_color-black: rgb(9, 9, 11);
  --_color-white: rgb(250, 250, 250);

  --text-opacity: 92%;
  --_text-white: --alpha(var(--_color-white) / var(--text-opacity));
  --_text-black: --alpha(var(--_color-black) / var(--text-opacity));

  --_color-light_background: rgb(228, 229, 231);
  --_color-dark_background: rgb(24, 24, 27);

  --_color-light_on_background: var(--_text-black);
  --_color-dark_on_background: var(--_text-white);

  --_color-light_surface: rgb(241, 242, 245);
  --_color-dark_surface: rgb(39, 39, 42);

  --_color-light_surface_hover: var(--_color-white);
  --_color-dark_surface_hover: rgb(50, 50, 54);

  --_color-light_surface_alt: rgb(209, 212, 226);
  --_color-dark_surface_alt: rgb(82, 82, 92);

  --_color-light_on_surface: var(--_text-black);
  --_color-dark_on_surface: var(--_text-white);

  --_color-light_primary: rgb(24, 120, 62);
  --_color-dark_primary: rgb(66, 172, 108);

  --_color-light_on_primary: var(--_text-white);
  --_color-dark_on_primary: var(--_text-white);

  --_color-light_accent: rgb(206, 218, 245);
  --_color-dark_accent: rgb(206, 218, 245);

  --_color-light_on_accent: --alpha(rgb(40, 71, 119) / var(--text-opacity));
  --_color-dark_on_accent: --alpha(rgb(40, 71, 119) / var(--text-opacity));

  --color-list-marker: currentColor;

  @media (prefers-color-scheme: light) {
    @apply colorscheme-light;
  }
  @media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
    @apply colorscheme-dark;
  }
}

@utility colorscheme-light {
  --background: var(--_color-light_background);
  --on_background: var(--_color-light_on_background);
  --surface: var(--_color-light_surface);
  --on_surface: var(--_color-light_on_surface);
  --surface_hover: var(--_color-light_surface_hover);
  --surface_alt: var(--_color-light_surface_alt);
  --primary: var(--_color-light_primary);
  --on_primary: var(--_color-light_on_primary);
  --accent: var(--_color-light_accent);
  --on_accent: var(--_color-light_on_accent);

  --invert_background: var(--_color-dark_background);
  --invert_on_background: var(--_color-dark_on_background);
  --invert_surface: var(--_color-dark_surface);
  --invert_surface_hover: var(--_color-dark_surface_hover);
  --invert_surface_alt: var(--_color-dark_surface_alt);
  --invert_on_surface: var(--_color-dark_on_surface);
  --invert_primary: var(--_color-dark_primary);
  --invert_on_primary: var(--_color-dark_on_primary);
  --invert_accent: var(--_color-dark_accent);
  --invert_on_accent: var(--_color-dark_on_accent);
}
@utility colorscheme-dark {
  --background: var(--_color-dark_background);
  --on_background: var(--_color-dark_on_background);
  --surface: var(--_color-dark_surface);
  --on_surface: var(--_color-dark_on_surface);
  --surface_hover: var(--_color-dark_surface_hover);
  --surface_alt: var(--_color-dark_surface_alt);
  --primary: var(--_color-dark_primary);
  --on_primary: var(--_color-dark_on_primary);
  --accent: var(--_color-dark_accent);
  --on_accent: var(--_color-dark_on_accent);

  --invert_background: var(--_color-light_background);
  --invert_on_background: var(--_color-light_on_background);
  --invert_surface: var(--_color-light_surface);
  --invert_surface_hover: var(--_color-light_surface_hover);
  --invert_surface_alt: var(--_color-light_surface_alt);
  --invert_on_surface: var(--_color-light_on_surface);
  --invert_primary: var(--_color-light_primary);
  --invert_on_primary: var(--_color-light_on_primary);
  --invert_accent: var(--_color-light_accent);
  --invert_on_accent: var(--_color-light_on_accent);
}

@theme inline {
  /*--color-*: initial; !* Disable tailwind color definitions. *!*/

  --color-background: var(--background);
  --color-on_background: var(--on_background);
  --color-surface: var(--surface);
  --color-on_surface: var(--on_surface);
  --color-surface_hover: var(--surface_hover);
  --color-surface_alt: var(--surface_alt);
  --color-primary: var(--primary);
  --color-on_primary: var(--on_primary);
  --color-accent: var(--accent);
  --color-on_accent: var(--on_accent);

  --color-invert_background: var(--invert_background);
  --color-invert_on_background: var(--invert_on_background);
  --color-invert_surface: var(--invert_surface);
  --color-invert_surface_hover: var(--invert_surface_hover);
  --color-invert_surface_alt: var(--invert_surface_alt);
  --color-invert_on_surface: var(--invert_on_surface);
  --color-invert_primary: var(--invert_primary);
  --color-invert_on_primary: var(--invert_on_primary);
  --color-invert_accent: var(--invert_accent);
  --color-invert_on_accent: var(--invert_on_accent);

  --color-black: var(--_color-black);
  --color-white: var(--_color-white);
  --color-light_background: var(--_color-light_background);
  --color-dark_background: var(--_color-dark_background);
  --color-light_on_background: var(--_color-light_on_background);
  --color-dark_on_background: var(--_color-dark_on_background);
  --color-light_surface: var(--_color-light_surface);
  --color-dark_surface: var(--_color-dark_surface);
  --color-light_surface_hover: var(--_color-light_surface_hover);
  --color-dark_surface_hover: var(--_color-dark_surface_hover);
  --color-light_surface_alt: var(--_color-light_surface_alt);
  --color-dark_surface_alt: var(--_color-dark_surface_alt);
  --color-light_on_surface: var(--_color-light_on_surface);
  --color-dark_on_surface: var(--_color-dark_on_surface);
  --color-light_primary: var(--_color-light_primary);
  --color-dark_primary: var(--_color-dark_primary);
  --color-light_on_primary: var(--_color-light_on_primary);
  --color-dark_on_primary: var(--_color-dark_on_primary);
  --color-light_accent: var(--_color-light_accent);
  --color-dark_accent: var(--_color-dark_accent);
  --color-light_on_accent: var(--_color-light_on_accent);
  --color-dark_on_accent: var(--_color-dark_on_accent);

  --color-mix_primary_background: color-mix(
    in srgb,
    var(--primary),
    var(--background)
  );
  --color-tint_surface_current: color-mix(
    in srgb,
    currentColor 5%,
    var(--surface)
  );
  --color-hover: color-mix(in srgb, currentColor 5%, transparent);
}

@theme {
  --color-house_commons: rgb(0 110 70);
  --color-house_commons_dark: #005434;
  --color-house_commons_darker: #004229;
  --color-house_on_commons: #fff;

  --color-house_lords: rgb(181 9 56);
  --color-house_lords_dark: #540016;
  --color-house_lords_darker: #420012;
  --color-house_on_lords: #fff;

  --color-scrim: rgb(0 0 0 / 70%);
  --color-on_scrim: var(--color-white);

  --color-positive: rgb(2, 113, 45);
  --color-on_positive: var(--color-white);
  --color-negative: rgb(163, 6, 40);
  --color-on_negative: var(--color-white);
}

@layer base {
  body {
    &[data-theme="light"] {
      @apply colorscheme-light;
    }

    &[data-theme="dark"] {
      @apply colorscheme-dark;
    }
  }
}

@property --link-color {
  syntax: "<color>";
  inherits: true;
  initial-value: none;
}
