@theme {
  /** Base color palette */

  --color-black: rgb(9, 9, 11);
  --color-white: rgb(250, 250, 250);

  --text-opacity: 92%;
  --text-white: --alpha(var(--color-white) / var(--text-opacity));
  --text-black: --alpha(var(--color-black) / var(--text-opacity));

  --color-background-light: rgb(228, 229, 231);
  --color-background-dark: rgb(24, 24, 27);
  --color-on-background-light: var(--text-black);
  --color-on-background-dark: var(--text-white);

  --color-surface-light: rgb(241, 242, 245);
  --color-surface-dark: rgb(39, 39, 42);
  --color-on-surface-light: var(--text-black);
  --color-on-surface-dark: var(--text-white);

  --color-surface-hover-light: var(--color-white);
  --color-surface-hover-dark: rgb(50, 50, 54);

  --color-surface-alt-light: rgb(209, 212, 226);
  --color-surface-alt-dark: rgb(82, 82, 92);
  --color-on-surface-alt-light: var(--text-black);
  --color-on-surface-alt-dark: var(--text-white);

  --color-primary-light: rgb(24, 120, 62);
  --color-primary-dark: rgb(66, 172, 108);
  --color-on-primary-light: var(--text-white);
  --color-on-primary-dark: var(--text-white);

  --color-primary-container-light: rgb(24, 120, 62);
  --color-on-primary-container-light: var(--text-white);
  --color-primary-container-dark: rgb(29, 89, 53);
  --color-on-primary-container-dark: var(--text-white);

  --color-accent-light: rgb(206, 218, 245);
  --color-on-accent-light: --alpha(rgb(40, 71, 119) / var(--text-opacity));
  --color-accent-dark: rgb(206, 218, 245);
  --color-on-accent-dark: --alpha(rgb(40, 71, 119) / var(--text-opacity));
}

@theme {
  --color-house-commons: rgb(0 110 70);
  --color-house-commons-dark: #005434;
  --color-house-commons-darker: #004229;
  --color-house-on-commons: #fff;

  --color-house-lords: rgb(181 9 56);
  --color-house-lords-dark: #540016;
  --color-house-lords-darker: #420012;
  --color-house-on-lords: #fff;

  --color-scrim: rgb(0 0 0 / 70%);
  --color-on-scrim: var(--color-white);

  --color-positive: rgb(2, 113, 45);
  --color-on-positive: var(--color-white);
  --color-negative: rgb(163, 6, 40);
  --color-on-negative: var(--color-white);
}

@utility colorscheme-light {
  --background: var(--color-background-light);
  --on-background: var(--color-on-background-light);
  --surface: var(--color-surface-light);
  --on-surface: var(--color-on-surface-light);
  --surface-hover: var(--color-surface-hover-light);
  --alt: var(--color-surface-alt-light);
  --on-alt: var(--color-on-surface-light);
  --primary: var(--color-primary-light);
  --on-primary: var(--color-on-primary-light);
  --primary-container: var(--color-primary-container-light);
  --on-primary-container: var(--color-on-primary-container-light);
  --accent: var(--color-accent-light);
  --on-accent: var(--color-on-accent-light);
}
@utility colorscheme-dark {
  --background: var(--color-background-dark);
  --on-background: var(--color-on-background-dark);
  --surface: var(--color-surface-dark);
  --on-surface: var(--color-on-surface-dark);
  --surface-hover: var(--color-surface-hover-dark);
  --alt: var(--color-surface-alt-dark);
  --on-alt: var(--color-on-surface-dark);
  --primary: var(--color-primary-dark);
  --on-primary: var(--color-on-primary-dark);
  --primary-container: var(--color-primary-container-dark);
  --on-primary-container: var(--color-on-primary-container-dark);
  --accent: var(--color-accent-dark);
  --on-accent: var(--color-on-accent-dark);
}

:root {
  @media (prefers-color-scheme: light) {
    @apply colorscheme-light;
  }

  @media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
    @apply colorscheme-dark;
  }

  --color-list-marker: currentColor;
  --bg: var(--background);
  --fg: var(--on-background);
}

@theme inline {
  /*--color-*: initial; !* Disable tailwind color definitions. *!*/

  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-hover: var(--surface-hover);
  --color-alt: var(--alt);
  --color-on-alt: var(--on-alt);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-accent: var(--accent);
  --color-on-accent: var(--on-accent);

  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-hover: color-mix(in srgb, var(--hover, var(--fg)) 10%, transparent);
}

@layer base {
  body {
    &[data-theme="light"] {
      @apply colorscheme-light;

      .invert-theme {
        @apply colorscheme-dark;
      }
    }

    &[data-theme="dark"] {
      @apply colorscheme-dark;

      .invert-theme {
        @apply colorscheme-light;
      }
    }
  }
}

@property --link-color {
  syntax: "<color>";
  inherits: true;
  initial-value: none;
}

@property --hover {
  syntax: "<color>";
  inherits: true;
  initial-value: none;
}
